* {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: red;
  color: white;
}
.flexb {
  width: 390px;
  height: 100px;
  background-color: aquamarine;
  color: yellow;
  margin-top: 10px;
  margin-right: 10px;
}

#five {
  display: flex;
  flex-wrap: wrap-reverse;
  margin-top: 10px;
}

// #two {
//   position: relative;
//   top: 20px;
//   left: 20px;
//   background: blue;
// }
